In [1]:
import numpy as np
import pandas as pd

In [2]:

flats = pd.read_csv('flats_cleaned.csv')
houses = pd.read_csv('house_cleaned.csv')

In [3]:

df = pd.concat([flats,houses],ignore_index=True)

In [6]:
# shfulling the merged table
df = df.sample(df.shape[0],ignore_index=True)

In [7]:

df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,8 Bedroom House for sale in Shakti Nagar,house,independent,1.80,8078.0,2228.0,Carpet area: 2228 (206.99 sq.m.),8,5,2,not available,"20421 Shakti Nagar, Near Shree Shyam Medical S...",1.0,South,undefined,NaN,8bhk residential house for resale in shakti na...,NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
1,6 Bedroom House for sale in Sector 48 Gurgaon,house,vipul world,3.35,5583.0,6000.0,Built Up area: 6000 (557.42 sq.m.),6,5,3+,not available,"F Block, Sector 48 Gurgaon, Gurgaon, Haryana",3.0,South,undefined,"['Airia Mall', 'GD Goenka School', 'The Millen...",6bhk residential house for resale in vipul wor...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
2,3 BHK Flat in Sector 53 Gurgaon,flat,parsvnath exotica,4.80,14680.0,3270.0,Built Up area: 2895 (268.95 sq.m.),3,4,3+,not available,"D4,12a, Flat 01,gurgaon, Sector 53 Gurgaon, Gu...",12.0,North-West,0 to 1 Year Old,"['Sector 53-54 Metro Station', 'Sahara Mall', ...",Spacious 2895 sqft 3 bhk with 5 bathrooms and ...,NaN,NaN,"['Green Area4 out of 5', 'Construction4 out of..."
3,3 BHK Flat in IFFCO Chowk,flat,essel tower,1.60,12185.0,1313.0,Super Built up area 1313(121.98 sq.m.),3,3,3,not available,"IFFCO Chowk, Gurgaon, Haryana",4.0,NaN,5 to 10 Year Old,"['BAPS Swaminarayan Mandir', 'Nagar Palika Hos...",This is one of the elite properties in the hea...,NaN,"['Lift(s)', 'Park', 'Maintenance Staff', 'Visi...",NaN
4,2 BHK Flat in Sector 37D Gurgaon,flat,signature global the millennia 3,0.45,7627.0,590.0,Carpet area: 590 (54.81 sq.m.),2,3,2,not available,"Sector 37D Gurgaon, Gurgaon, Haryana",8.0,NaN,12/01/2024,"['The Esplanade Mall', 'Dwarka Expressway', 'P...",Direct entrance from dwarka express way,NaN,"['Lift(s)', 'Park']","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [8]:

df.to_csv('gurgaon_properties.csv',index=False)